@use '@/assets/stylesheets/main-variables' as *;
@use '@/assets/stylesheets/mixins' as *;
.ProductInformation {
  &__main-container {
    background-color: $yellow-cos;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    padding: 100px 16px 0;
  }

  &__center-container {
    width: 1440px;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 0 16px 50px;
    max-width: 1440px;
    @include for-desktop-up {
      padding: 100px 0 150px;
      flex-direction: row;
      gap: 69px;
    }
    @include for-tablet {
      padding: 100px 16px 100px;
      gap: 50px;
    }
  }

  &__main-picture {
    // width: 100%;
    width: 100%;
    max-height: 400px;
    box-shadow: 0px 2px 10px $black-200;
    border-radius: 8px;
    object-fit: cover;
    flex: 1;
    @include for-desktop-up {
      width: 50%;
      max-height: 577px;
    }
  }

  &__product-description {
    @include text(16px, left, $black-300, 400);
    line-height: 120%;
    margin: 0 0 12px;
    @include for-tablet {
      @include text(24px, left, $black-300, 400);
      margin: 0 0 12px;
    }
  }

  &__bottom-realizations-box {
    min-width: calc(50% - 9px);
    flex: 1;
    height: 220px;
    box-shadow: 0px 2px 10px #ccc;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: hidden;
    @include for-desktop-up {
      // width: calc(25% - 9px);
      max-width: 600px;
      min-width: unset;
      flex: 1;
    }

    @include for-phone-only {
      width: 100%;
      min-width: unset;
      flex: unset;
    }
  }

  &__bottom-realizations-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    object-fit: cover;
  }

  &__hover-icon {
    position: absolute;
    width: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__info {
    margin: 0;
    width: 450px;
    font-size: 15px;
    line-height: 24px;
  }

  &__bottom-realizations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__center-title {
    display: flex;
    justify-content: left;

    @include text(32px, left, $black-400, 700);
    line-height: 105%;
    margin: 0 0 24px;
    @include for-tablet {
      @include text(56px, left, $black-400, 700);
      margin: 0 0 36px;
    }
  }

  &__bottom-title {
    @include text(32px, left, $black-400, 700);
    line-height: 105%;
    margin: 0 0 32px;
    @include for-tablet {
      margin: 0 0 48px;
      @include text(56px, left, $black-400, 700);
    }
  }

  &__bottom-container {
    max-width: 1440px;
    margin: 0 auto 100px;
    padding: 0 16px;
    cursor: pointer;
    width: 100%;
  }

  &__center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    @include for-desktop-up {
      max-width: 40%;
    }
  }

  &__bottom-description {
    margin: auto;
    margin-bottom: 100px;
    line-height: 25px;
    width: 60%;
    text-align: center;
    color: $color-text;
    font-size: 15px;
  }

  &__hover-background {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    // background-color: rgba($color: $yellow-500, $alpha: 0.7);
    width: 100%;
    height: 100%;
    opacity: 0;
    will-change: opacity;
    border-radius: 8px;
    z-index: 2;
  }

  &__bottom-realizations-box:hover &__hover-background {
    opacity: 1;
  }

  @media only screen and (max-width: 1200px) {
    &__main-container {
      margin-bottom: 50px;
    }

    &__bottom-container {
      margin-bottom: 70px;
    }

    &__title {
      margin-top: 110px;
    }

    &__image,
    &__background,
    &__title-container {
      height: 200px;
    }
  }

  @media only screen and (max-width: 800px) {
    &__hover-background {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    &__bottom-realizations {
      margin: auto;
    }
  }

  @media only screen and (max-width: 465px) {
    &__bottom-container {
      display: flex;
      flex-wrap: wrap;
    }

    &__product-description {
      width: auto;
    }

    &__info {
      width: auto;
    }

    &__title {
      font-size: 30px;
    }
  }

  @media (max-width: 370px) {
    &__bottom-realizations-image {
      width: 100%;
    }
  }
}
