@use '@/assets/stylesheets/main-variables' as *;
@use '@/assets/stylesheets/mixins' as *;
.Footer {
  &__main-container {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    z-index: 2;
    position: relative;
    padding: 24px 0 0;
    width: 100%;
    margin-top: 100px;
    background-color: $black-100;
    border-top: 1px solid $black-400;
  }

  &__center-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 16px 28px;
    width: 100%;
    gap: 24px;
    @include for-phone-only {
      flex-direction: column;
    }

    @include for-tablet-landscape-up {
      gap: 0;
      justify-content: space-between;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__buttons-container {
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin: auto 0;
  }

  &__button {
    padding: 12px 24px;
    border-radius: 999px;
    text-decoration: none;
    position: relative;
    border: none;
    cursor: pointer;
    @include text(16px, center, $black-400, 500);
    background-color: transparent;
    border: 1px solid $black-400;
    box-shadow: 0 4px 0 0 $black-400;
    top: 0;
    transition:
      top 150ms,
      box-shadow 150ms;
    &:hover {
      box-shadow: 0 0px 0 0 $black-400;
      top: 6px;
    }

    @include for-desktop-up {
      @include text(16px, center, $black-400, 500);
    }
  }

  &__text {
    line-height: 160%;
    margin: 0;
    text-decoration: unset;
    @include text(14px, left, $black-400, 400);
    @include for-tablet-landscape-up {
      @include text(14px, left, $black-400, 400);
    }
  }

  &__logo {
    max-height: 32px;
    margin: 16px 0;
  }

  &__bottom-container {
    background-color: transparent;
    padding: 12px 0;
  }

  &__bottom-center-container {
    max-width: 1210px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    margin: 0 auto;
  }

  &__bottom-container-text {
    @include text(12px, center, $black-400, 400);

    @include for-tablet {
      @include text(14px, center, $black-400, 400);
    }
  }

  &__bottom-container-text-light {
    display: none;
    @include for-tablet-landscape-up {
      display: block;
      @include text(14px, center, $black-400, 400);
    }
  }

  &__link {
    line-height: 160%;
    text-decoration: unset;
    padding: 0;
    border: unset;
    background-color: transparent;
    @include text(14px, left, $black-400, 400);
    cursor: pointer;
    line-height: 160%;
    &:hover {
      text-decoration: underline;
    }
    @include for-phone-only {
      padding: 8px 0;
      @include text(16px, left, $black-400, 400);
    }
  }

  &__row {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }

  &__button-social {
    width: 36px;
    height: 36px;
    transition: scale 300ms;
    &:hover {
      scale: 1.1;
    }
  }

  &__button-social-icon {
    width: 100%;
  }
}
