@use '@/assets/stylesheets/main-variables' as *;
@use '@/assets/stylesheets/mixins' as *;

.ArticleMain {
  &__page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 90px 0 50px;
    gap: 40px;
    padding: 0 16px; // Bezpieczny margines

    // Zmiana układu na poziomy na większych ekranach
    @include for-big-desktop-up {
      width: unset;
      margin: 120px 0 50px;
      // flex-direction: row;
      // align-items: flex-start; // Wymagane, aby sidebar mógł być sticky
      // justify-content: center;
      // Odstęp między artykułem a sidebarem
    }
  }

  &__column {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    // Zmiana układu na poziomy na większych ekranach
    @include for-big-desktop-up {
      flex-direction: row;
      align-items: flex-start; // Wymagane, aby sidebar mógł być sticky
      justify-content: center;
      gap: 40px; // Odstęp między artykułem a sidebarem
      padding: 0 16px; // Bezpieczny margines
    }
  }

  &__center-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px; // Usunięto 'auto' dla flexboxa
    max-width: 920px; // Zabezpieczenie szerokości

    @include for-big-desktop-up {
      margin: 0 0 50px;
      flex: 1; // Pozwala zająć dostępną przestrzeń
    }
  }

  &__image-header {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    margin-bottom: 20px;
    max-width: 1310px;
    margin: 0 auto;

    @include for-tablet {
      height: 300px;
    }
  }

  &__title {
    width: 100%;
    line-height: 125%;
    @include text(32px, left, $black-400, 700);
    margin: 0 auto 16px;
    max-width: 720px;
    user-select: text !important;

    @include for-phone-only {
      @include text(28px, left, $black-400, 700);
    }
    @include for-tablet {
      @include text(38px, left, $black-400, 700);
      margin: 0 auto 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  &__section-title {
    @include text(24px, left, $black-400, 500);
    margin: 12px auto 0;
    max-width: 720px;
    user-select: text !important;

    @include for-phone-only {
      @include text(22px, left, $black-400, 500);
    }
    @include for-tablet {
      margin: 16px auto 0;
      @include text(26px, left, $black-400, 500);
    }
  }

  &__subsection-title {
    @include text(20px, left, $black-400, 500);
    margin: 24px auto 0;
    max-width: 720px;
    user-select: text !important;

    @include for-phone-only {
      @include text(18px, left, $black-400, 500);
    }
    @include for-tablet {
      margin: 12px auto 0;
      @include text(22px, left, $black-400, 500);
    }
  }

  &__paragraph {
    line-height: 160%;
    margin: 0 auto;
    max-width: 720px;
    user-select: text !important;

    span {
      @include text(18px, left, rgba($black-400, 0.75), 400);
    }
    strong {
      @include text(18px, left, rgba($black-400, 0.85), 500);
    }
    a {
      @include text(18px, left, $yellow-500, 500);
      text-decoration: unset;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    @include for-phone-only {
      span {
        @include text(16px, left, rgba($black-400, 0.75), 400);
      }
      strong {
        @include text(16px, left, rgba($black-400, 0.85), 500);
      }
      a {
        @include text(16px, left, $yellow-500, 500);
      }
    }
    @include for-tablet {
      margin: 0 auto 12px;
    }
  }

  &__code {
    @include text(16px, left, $black-400, 400);
    user-select: text !important;
  }

  &__categories {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__category {
    @include text(16px, left, $black-400, 500);
    padding: 8px 12px;
    border-radius: 16px;
    background-color: rgba($black-400, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    user-select: text !important;

    &:hover {
      background-color: rgba($black-400, 0.15);
    }
  }

  &__category-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    object-position: center;
    margin: auto 0;
  }

  &__actor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 720px;
    margin: 24px auto 12px;
    width: 100%;
  }

  &__actor-img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 999px;
    margin-right: 12px;
  }

  &__actor-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }

  &__actor-name {
    @include text(14px, left, $black-400, 500);
  }

  &__actor-label {
    @include text(12px, left, $black-400, 400);
  }

  &__actor-date {
    margin: 0;
    @include text(12px, left, $black-400, 400);
    @include for-tablet {
      margin: 0 0 0 auto;
    }
  }

  &__actor-row {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  &__actor-column-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
    margin: 24px 0 0 0;
    width: 100%;
    height: 52px;
    @include for-tablet {
      width: auto;
      margin: 0 0 0 auto;
    }
  }

  &__actor-tag {
    padding: 2px 10px;
    background-color: rgba($color: $yellow-500, $alpha: 0.05);
    border: 1px solid $yellow-500;
    border-radius: 999px;
    @include text(12px, left, $yellow-500, 400);
  }

  // --- NOWE: STYLOWANIE PASKA BOCZNEGO ---
  &__sidebar {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0 50px;
    width: 100%;

    @include for-tablet {
      position: sticky;
      top: 100px; // Dopasowane do górnego marginesu artykułu
      max-width: 720px;
      flex-shrink: 0;
      // margin-top: 462px;
    }

    @include for-big-desktop-up {
      width: 360px;
      padding: 0 16px;
    }

    @include for-phone-only {
      flex-direction: column;
    }

    h2 {
      @include text(32px, left, $black-400, 500);
      margin: 0 0 32px 0;
      @include for-phone-only {
        @include text(26px, + left, $black-400, 500);
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      gap: 42px;
      display: flex;
      flex-direction: column;
    }

    li {
      border: 1px solid $grey-400;
      border-radius: 8px; // Dajemy pełne zaokrąglenie na całą kartę
      overflow: hidden;
    }

    a {
      text-decoration: none;
    }
  }

  &__sidebar-image-wrapper {
    width: 100%;
    height: 120px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 4px;
    overflow: hidden;
  }

  &__sidebar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 300ms ease;
  }

  li:hover &__sidebar-image {
    scale: 1.02;
  }

  &__sidebar-text-container {
    @include text(18px, left, $black-300, 600);
    display: block;
    line-height: 130%;
    padding: 12px 75px 12px 8px;
    position: relative;
  }

  &__arrow-box {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 2px solid $yellow-500;
    margin-left: 36px;
    position: relative;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__arrow-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    transition: transform 400ms;
  }

  li:hover &__arrow-icon {
    transform: translateY(-50%) translateX(5px);
  }
}
