@use '@/assets/stylesheets/main-variables' as *;
@use '@/assets/stylesheets/mixins' as *;
.Navbar {
  &__main-container {
    position: fixed;
    top: 0;
    left: 50%;
    background-color: rgba($color: $black-100, $alpha: 0.6);
    backdrop-filter: blur(10px);
    // box-shadow: 0 0 5px 0px rgba($color: $black-400, $alpha: 0.4);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 24px 12px;
    z-index: 9;
    width: 100%;
    transition:
      transform 700ms,
      padding 300ms;
    transform: translateX(-50%);
    @include for-desktop-up {
      padding: 24px 24px;
    }
    @include for-big-desktop-up {
      padding: 24px 32px;
    }
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    height: 24px;
    margin: auto 0;
    @include for-phone-only {
      height: 18px;
    }
    @include for-big-desktop-up {
      height: 26px;
    }
  }

  &__center-container {
    display: flex;
    justify-content: space-between;
    // max-width: 1210px;
    width: 100%;
    gap: 8px;
  }

  &__button {
    background-color: transparent;
    border: none;
    @include text(16px, center, $color-white, 400);
    cursor: pointer;
    border-radius: 999px;
    padding: 6px 18px;
    height: 41px;
    display: flex;
    transition:
      color 300ms,
      background-color 300ms,
      box-shadow 300ms,
      font-weight 300ms;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $yellow-500;
        background-color: $color-white;
      }

      &--active:hover {
        background-color: $color-white;
        @include text(18px, center, $red-400, 700);
      }
    }

    &--active {
      padding: 6px 15px;
      background-color: $color-white;
      @include text(18px, center, $red-400, 700);
    }
    display: none;
    @include for-desktop-up {
      display: block;
    }
  }

  &__right-container {
    display: flex;
    gap: 8px;
  }

  &__button-green {
    padding: 6px 12px 6px 24px;
    border-radius: 999px;
    text-decoration: none;
    position: relative;
    border: none;
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include text(16px, center, $black-400, 500);
    background-color: rgba($color: $green, $alpha: 0.5);
    border: 1px solid $black-400;
    box-shadow: 0 4px 0 0 $black-400;
    top: 0;
    transition:
      top 150ms,
      box-shadow 150ms;
    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0px 0 0 $yellow-500;
        top: 4px;
      }
    }
    &--active {
      box-shadow: 0 0px 0 0 $yellow-500;
      top: 4px;
    }

    @include for-phone-only {
      padding: 8px 10px;
      @include text(12px, center, $black-400, 500);
    }
  }

  &__button-icon {
    width: 26px;
    rotate: 180deg;
    margin-left: 4px;
    transition: rotate 300ms;
    &--active {
      rotate: 0deg;
    }

    @include for-phone-only {
      width: 18px;
      margin-left: 2px;
    }
  }

  &__button-red {
    padding: 4px 24px;
    border-radius: 999px;
    text-decoration: none;
    position: relative;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include text(16px, center, $black-400, 500);
    background-color: $black-100;
    border: 1px solid $black-400;
    box-shadow: 0 4px 0 0 $black-400;
    top: 0;
    transition:
      top 150ms,
      box-shadow 150ms;
    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0px 0 0 $red-400;
        top: 4px;
      }
    }

    @include for-phone-only {
      padding: 8px 10px;
      @include text(12px, center, $black-400, 500);
    }

    // display: none;
    // @include for-desktop-up {
    //   display: block;
    // }
  }

  &__select-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__select-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 24px;
    left: 0;
    gap: 12px;
    border: 1px solid $black-400;
    box-shadow: 0 4px 0 0 $black-400;
    background-color: $black-100;
    border-radius: 16px;
    padding: 16px 0 16px 24px;
    width: 100%;
    margin-top: 30px;
    &--active {
      display: flex;
    }
    @include for-phone-only {
      top: 12px;
      padding: 12px 0 12px 8px;
    }
  }

  &__select-button {
    border-radius: 999px;
    text-decoration: none;
    position: relative;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include text(16px, left, $black-400, 500);
    background-color: transparent;
    top: 0;
    transition: scale 300ms;
    &:hover {
      scale: 1.05;
    }

    @include for-phone-only {
      @include text(12px, left, $black-400, 500);
    }
  }

  // &__button-hamburger {
  //   height: 40px;
  //   width: 40px;
  //   border-radius: 9px;
  //   position: relative;
  //   border: none;
  //   cursor: pointer;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   gap: 4px;
  //   background-color: $red-light;
  //   box-shadow: 0 4px 0 0 $red-400;
  //   top: 0;
  //   transition:
  //     top 150ms,
  //     box-shadow 150ms;
  //   &:hover {
  //     box-shadow: 0 0px 0 0 $red-400;
  //     top: 4px;
  //   }

  //   @include for-desktop-up {
  //     display: none;
  //   }
  // }

  // &__button-hamburger-line {
  //   width: 27px;
  //   height: 3px;
  //   background-color: $red-400;
  //   border-radius: 999px;
  // }
}
