.AboutCompany {
  &__main-container {
    background-color: $color-white;
    width: 100%;
    padding: 100px 15px;
    box-sizing: border-box;
  }

  &__center-container {
    width: 1170px;
    margin: 0 auto;
    padding: 15px;
  }

  &__title {
    font-size: $font-size-title;
    font-weight: 300;
    color: $color-title;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 30px;
  }

  &__description {
    margin: auto;
    margin-bottom: 100px;
    line-height: 25px;
    width: 60%;
    text-align: center;
    color: $color-text;
    font-size: 15px;
  }

  &__boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__box-title {
    font-size: 18px;
    text-align: center;
    padding: 10px 0 20px;
    color: $color-title;
    transition: all 300ms;
    margin: 0;

    &--active {
      // color: $color-yellow;
    }
  }

  &__box-text {
    text-align: center;
    color: $color-text;
    line-height: 1.5;
    letter-spacing: -.2px;
    margin: auto;
    font-size: 15px;
  }

  &__box--active &__box-text {
    // color: #b7b7b7;
  }

  &__box {
    max-width: 370px;
    width: 100%;
    padding: 30px;
    transition: all 400ms;
    cursor: default;
    border-radius: 8px;

    &--active {
      // background: $color-gray;
    }

    svg {
      margin: auto;
      display: block;
      padding-bottom: 30px;
    }
  }


  @media (max-width: 1200px) {
    &__main-container {
      padding: 70px 15px;
    }

    &__center-container {
      width: auto;
    }

    &__boxes {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__box {
      margin: 0;
      border: unset;
    }
  }

  @media (max-width: 450px) {
    &__box {
      width: auto;
      padding: 30px 15px;
    }

    &__description {
      width: 90%;
    }
  }

  @media (max-width: 400px) {
    &__title {
      font-size: $font-size-title-mobile;
    }
  }
}
