.Footer {
  &__main-container {
    width: 100%;
    background: $color-gray;
    font-size: 16px;
  }

  &__center-container {
    width: 1170px;
    padding: 45px 15px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__links-container,
  &__offer-container {
    display: flex;
    flex-direction: column;
  }

  &__link {
    cursor: pointer;
    height: 48px;
  }

  &__link,
  &__open-hours,
  &__recomended-text {
    line-height: 1.5;
  }

  &__open-hours {
    height: 48px;
  }

  &__link,
  &__recomended-container,
  &__open-hours,
  &__recomended-text,
  &__recomended-link {
    text-decoration: none;
    color: #efefef;
    font-weight: $weight-medium;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__link-title:hover {
    text-decoration: none;
  }

  &__recomended-title {
    height: 48px;
  }

  &__link-title,
  &__open-hours-title,
  &__recomended-title {
    // margin-bottom: 20px;
    color: $color-yellow;
  }

  &__down-container {
    width: 100%;
    background-color: $color-yellow;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
  }

  &__recomended-logo {
    background-image: url('/image/logo-Magdy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100px;
    height: 150px;
  }

  &__recomended-text {
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 1200px) {
    &__center-container {
      width: 100%;
      flex-wrap: wrap;
    }

    &__links-container,
    &__offer-container,
    &__recomended-container,
    &__open-hours-container {
      margin: 0 20px 20px 0px;
    }

    &__down-container {
      padding: 20px 0;
    }
  }
}