.Hero {
  &__main-container {
    height: 750px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__hero-image {
    background-image: url('/image/header2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    width: 100%;
    height: 750px;
    position: fixed;
    z-index: -1;
  }

  &__hero-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__center-container {
    z-index: 2;
    width: 850px;
    padding: 15px;
    margin: 200px auto;
    position: relative;
  }

  &__title {
    text-align: center;
    font-size: 48px;
    color: $color-yellow;
    font-weight: $weight-medium;
    margin: 0;
  }

  &__description {
    text-align: center;
    font-size: 24px;
    color: $color-white;
    font-weight: $weight-medium;
    margin: 40px 0 0;
    line-height: 40px;
  }

  &__btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__button {
    width: 170px;
    height: 50px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 50px;
    position: relative;
    bottom: -80px;
    color: $color-white;
    cursor: pointer;
    margin: auto 20px;
    transition: all 400ms;
    border: 1px solid $color-yellow;
    background-color: transparent;
    color: $color-white;
    border-radius: 4px;

    &:hover {
      color: $color-title;
      background-color: $color-yellow;
    }
  }

  @media only screen and (max-width: 1200px) {
    &__title {
      font-size: $font-size-title-rwd;
    }

    &__description {
      font-size: $font-size-medium-rwd;
      line-height: 40px;
    }

    &__center-container {
      margin-top: 140px;
    }

    &__main-container {
      height: 600px;
    }

    &__button {
      bottom: -50px;
    }
  }

  @media only screen and (max-width: 870px) {
    &__center-container {
      width: 100%;
    }

    &__main-container {
      height: 600px;
    }

    &__description {
      line-height: 30px;
    }

    &__button {
      bottom: -30px;
    }
  }

  @media only screen and (max-width: 400px) {
    &__description {
      font-size: 16px;
      line-height: 25px;
    }
  }
}
