.ErrorPage {
  &__main-container {
    min-height: 300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    font-size: 24px;
  }

  &__link {
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
