@use '@/assets/stylesheets/main-variables' as *;

@use '@/assets/stylesheets/mixins' as *;
.Realization {
  &__main-container {
    min-height: calc(100vh - 350px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }

  &__center-container {
    width: 100%;
    height: 100%;
    background: $color-white;
  }
  &__title-container-background {
    background-color: $yellow-500;
    width: 100%;
  }
  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 130px 24px 34px;
    @include for-tablet {
      padding: 230px 24px 130px;
    }
  }

  &__description {
    max-width: 870px;
    line-height: 140%;
    @include text(16px, left, $black-400, 400);

    @include for-tablet {
      @include text(18px, left, $black-400, 400);
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 400;
    padding: 0;
    margin-bottom: 25px;
    @include text(42px, left, $black-400, 700);
    width: 100%;
    margin: 0 auto;
    @include for-tablet {
      @include text(56px, left, $black-400, 700);
    }
  }

  &__filters-container {
    max-width: 1440px;
    width: 100%;
    text-align: center;
    margin: 40px auto 40px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    @include for-tablet {
      margin: 90px auto 90px;
    }
  }

  &__filter {
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 8px;
    border: unset;
    background-color: transparent;
    @include text(16px, center, $black-400, 500);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    &:hover {
      background: $grey-200;
    }
  }

  &__filter--active {
    background: $grey-300;
    &:hover {
      cursor: default;
      background: $grey-300;
    }
  }

  &__projects {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    grid-auto-rows: 150px;
    gap: 20px;
    max-width: 1640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
    @include for-tablet {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__project {
    overflow: hidden;
    position: relative;
    transition: all 0.35s;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
  }

  &__project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
