@use '@/assets/stylesheets/main-variables' as *;
@use '@/assets/stylesheets/mixins' as *;
.Offer {
  &__main-container {
    display: flex;
    width: 100%;
    background: $color-white;
  }

  &__center-container {
    width: 1440px;
    margin: auto;
    padding: 100px 16px 0;
  }

  &__title {
    margin-bottom: 72px;
    @include text(56px, left, $black-999, 700);
  }

  &__boxes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 340px;
  }

  &__box-title-dot {
    width: 24px;
    height: 24px;
    margin: auto 12px auto 0;
  }

  &__box-title {
    cursor: default;
    @include text(32px, left, $black-400, 400);
    margin: 0 0 10px 0;
    display: flex;
  }

  &__box-image-container {
    height: 190px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  &__box-image {
    height: 100%;
    width: 100%;
    transition: all 400ms;
    box-shadow: 0px 2px 10px #ccc;
    border-radius: 2px;
    will-change: transform;
    object-fit: cover;
    object-position: center;
  }

  &__box:hover &__box-image {
    transform: scale(1.01);
  }

  &__box-text {
    cursor: default;
    overflow: hidden;
    @include text(18px, left, $black-400, 400);
    line-height: 140%;
    margin-bottom: 20px;
  }

  &__box-btn {
    width: auto;
    height: 56px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    position: relative;
    text-decoration: none;
    @include text(20px, left, $black-400, 500);
    align-items: center;
    margin-top: 10px;
  }

  &__btn-arrow-box {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid $yellow-500;
    margin-left: 36px;
    position: relative;
  }

  &__btn-arrow-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    transition: transform 400ms;
  }

  &__box-btn:hover &__btn-arrow-icon {
    transform: translateY(-50%) translateX(7px);
  }

  &__boxes-container {
    display: flex;
    gap: 2rem;
  }

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 160px;
  }
}
